{{#partial "content"}}

   {{#if editCuisine}}
       <h1>Edit the cuisine:</h1>
       <form action="/cuisines/{{cuisine.id}}/update" method="post">
       <select name="editCuisineId" id="editCuisineId">
       {{#each cuisines }}
           <option value="{{id}}">{{type}}</option>
       {{/each}}
       </select>
           <label for="newCuisineType">Edit this cuisine's type</label>
           <input id="newCuisineType" name="newCuisineType" type="text" placeholder="new cuisine type">

   {{else}}
           <h1>Add a new Cuisine!</h1>

       <form action="/cuisines/new" method="post">
           <label for="type">Cuisine Type</label>
           <input id="type" name="type" type="text">

   {{/if}}
       <button type="submit" class="btn btn-default">Go!</button>
   </form>
{{/partial}}

{{> layout.hbs}}